# Population data set: cleaning

In [1]:
#Importing libraries
import pandas as pd
import numpy as np
import os

In [2]:
path = r'/Users/alexbor/Desktop/Data Analytics/Immersion/Submissions/6. Advanced Analytics/Project_Waste in the world'

In [3]:
#Import dataframe 

df_pop = pd.read_csv(os.path.join(path,'Original data','WPP2022_TotalPopulationBySex_UN_org.csv'), low_memory=False)

# Exploring the dataframe

In [4]:
df_pop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550866 entries, 0 to 550865
Data columns (total 18 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   SortOrder    359502 non-null  float64
 1   LocID        550866 non-null  int64
 2   Notes        95532 non-null   object
 3   ISO3_code    297909 non-null  object
 4   ISO2_code    296652 non-null  object
 5   SDMX_code    354474 non-null  float64
 6   LocTypeID    359502 non-null  float64
 7   LocTypeName  359502 non-null  object
 8   ParentID     359502 non-null  float64
 9   Location     550866 non-null  object
 10  VarID        550866 non-null  int64
 11  Variant      550866 non-null  object
 12  Time         550866 non-null  int64
 13  MidPeriod    550866 non-null  float64
 14  PopMale      549609 non-null  float64
 15  PopFemale    549609 non-null  float64
 16  PopTotal     550866 non-null  float64
 17  PopDensity   550866 non-null  float64
dtypes: float64(9), int64(3), object(6)
memory usage: 75.7+ MB

In [5]:
df_pop.shape

(550866, 18)

In [6]:
df_pop.head()

,SortOrder,LocID,Notes,ISO3_code,ISO2_code,SDMX_code,LocTypeID,LocTypeName,ParentID,Location,VarID,Variant,Time,MidPeriod,PopMale,PopFemale,PopTotal,PopDensity
0,NaN,1857,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AUKUS,2,Medium,1950,1950.5,101683.967,104829.814,206513.782,12.096
1,NaN,1857,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AUKUS,2,Medium,1951,1951.5,103204.345,106085.841,209290.187,12.259
2,NaN,1857,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AUKUS,2,Medium,1952,1952.5,104727.488,107331.845,212059.333,12.421
3,NaN,1857,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AUKUS,2,Medium,1953,1953.5,106093.466,108905.518,214998.984,12.593
4,NaN,1857,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AUKUS,2,Medium,1954,1954.5,107669.185,110509.997,218179.182,12.779

In [7]:
#Checking for mix-typed columns 

for col in df_pop.columns.tolist():
  weird = (df_pop[[col]].applymap(type) != df_pop[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_pop[weird]) > 0:
    print (col)

Notes
ISO3_code
ISO2_code
LocTypeName

In [8]:
#Fixing data type for LocTypeName

df_pop['LocTypeName'] = df_pop['LocTypeName'].astype('str')

In [9]:
df_pop.dtypes

SortOrder      float64
LocID            int64
Notes           object
ISO3_code       object
ISO2_code       object
SDMX_code      float64
LocTypeID      float64
LocTypeName     object
ParentID       float64
Location        object
VarID            int64
Variant         object
Time             int64
MidPeriod      float64
PopMale        float64
PopFemale      float64
PopTotal       float64
PopDensity     float64
dtype: object

In [10]:
#Fixing data type for PopTotal

df_pop['PopTotal'] = df_pop['PopTotal'].astype('int64')

In [11]:
df_pop.tail()

,SortOrder,LocID,Notes,ISO3_code,ISO2_code,SDMX_code,LocTypeID,LocTypeName,ParentID,Location,VarID,Variant,Time,MidPeriod,PopMale,PopFemale,PopTotal,PopDensity
550861,290.0,876,2,WLF,WF,876.0,4.0,Country/Area,957.0,Wallis and Futuna Islands,207,Lower 95 PI,2096,2096.5,3.276,3.397,6,47.807
550862,290.0,876,2,WLF,WF,876.0,4.0,Country/Area,957.0,Wallis and Futuna Islands,207,Lower 95 PI,2097,2097.5,3.229,3.350,6,47.093
550863,290.0,876,2,WLF,WF,876.0,4.0,Country/Area,957.0,Wallis and Futuna Islands,207,Lower 95 PI,2098,2098.5,3.184,3.312,6,46.450
550864,290.0,876,2,WLF,WF,876.0,4.0,Country/Area,957.0,Wallis and Futuna Islands,207,Lower 95 PI,2099,2099.5,3.133,3.269,6,45.771
550865,290.0,876,2,WLF,WF,876.0,4.0,Country/Area,957.0,Wallis and Futuna Islands,207,Lower 95 PI,2100,2100.5,3.077,3.222,6,45.093

# Describing data

In [12]:
df_pop.describe()

,SortOrder,LocID,SDMX_code,LocTypeID,ParentID,VarID,Time,MidPeriod,PopMale,PopFemale,PopTotal,PopDensity
count,359502.000000,550866.000000,354474.000000,359502.000000,359502.000000,550866.000000,550866.000000,550866.000000,5.496090e+05,5.496090e+05,5.508660e+05,550866.000000
mean,147.332168,11411.409174,410.088652,4.311189,1217.958042,47.150233,2055.987006,2056.487006,3.375882e+05,3.382506e+05,6.742966e+05,324.831247
std,82.835942,30230.335746,268.835618,1.898939,1004.605977,79.952822,29.453421,29.453421,7.981213e+05,7.968300e+05,1.593410e+06,1876.613518
min,1.000000,4.000000,1.000000,1.000000,0.000000,2.000000,1950.000000,1950.500000,5.670000e-01,6.550000e-01,0.000000e+00,0.049000
25%,76.000000,414.000000,158.000000,4.000000,914.000000,4.000000,2037.000000,2037.500000,1.961569e+03,1.943445e+03,3.765000e+03,35.620000
50%,147.500000,804.000000,415.500000,4.000000,922.000000,7.000000,2058.000000,2058.500000,2.364672e+04,2.398483e+04,4.724300e+04,85.907500
75%,219.000000,1607.000000,643.000000,4.000000,931.000000,16.000000,2079.000000,2079.500000,2.912809e+05,2.949084e+05,5.837645e+05,181.020250
max,290.000000,98505.000000,914.000000,13.000000,5501.000000,207.000000,2100.000000,2100.500000,9.602830e+06,9.603063e+06,1.920589e+07,48162.313000

**No anomalities detected**

# Missing values

In [13]:
df_pop.isnull().sum()

SortOrder      191364
LocID               0
Notes          455334
ISO3_code      252957
ISO2_code      254214
SDMX_code      196392
LocTypeID      191364
LocTypeName         0
ParentID       191364
Location            0
VarID               0
Variant             0
Time                0
MidPeriod           0
PopMale          1257
PopFemale        1257
PopTotal            0
PopDensity          0
dtype: int64

In [14]:
#Deleting some columns with missing data because I don't need them 
df_pop = df_pop.drop(columns=['SortOrder', 'Notes', 'ISO3_code', 'ISO2_code', 'SDMX_code', 'Variant', 'MidPeriod', 'PopMale', 'PopFemale'])

# Checking for duplicates

In [15]:
df_dups = df_pop[df_pop.duplicated()]

In [16]:
df_dups

Empty DataFrame
Columns: [LocID, LocTypeID, LocTypeName, ParentID, Location, VarID, Time, PopTotal, PopDensity]
Index: []

**No duplicates found**

In [17]:
df_pop.isnull().sum()

LocID               0
LocTypeID      191364
LocTypeName         0
ParentID       191364
Location            0
VarID               0
Time                0
PopTotal            0
PopDensity          0
dtype: int64

In [18]:
#Deleting further unwanted columns with missing data
df_pop = df_pop.drop(columns=['LocTypeID', 'ParentID'])

In [19]:
df_dups_1 = df_pop[df_pop.duplicated()]

In [20]:
df_dups_1

Empty DataFrame
Columns: [LocID, LocTypeName, Location, VarID, Time, PopTotal, PopDensity]
Index: []

In [21]:
df_pop.head()

   LocID LocTypeName Location  VarID  Time  PopTotal  PopDensity
0   1857         nan    AUKUS      2  1950    206513      12.096
1   1857         nan    AUKUS      2  1951    209290      12.259
2   1857         nan    AUKUS      2  1952    212059      12.421
3   1857         nan    AUKUS      2  1953    214998      12.593
4   1857         nan    AUKUS      2  1954    218179      12.779

# Changing names of some columns and removing values

In [22]:
df_pop = df_pop.rename(columns={'PopTotal':'Total population', 'PopDensity':'Population density'})

In [23]:
df_pop.head()

,LocID,LocTypeName,Location,VarID,Time,Total population,Population density
0,1857,nan,AUKUS,2,1950,206513,12.096
1,1857,nan,AUKUS,2,1951,209290,12.259
2,1857,nan,AUKUS,2,1952,212059,12.421
3,1857,nan,AUKUS,2,1953,214998,12.593
4,1857,nan,AUKUS,2,1954,218179,12.779

In [24]:
df_pop['Location'].value_counts()

Latin America and the Caribbean                     2514
Australia/New Zealand                               2514
Malawi                                              1257
South-Eastern Asia                                  1257
Western Asia                                        1257
                                                    ...
Less developed: Africa                               862
Least developed: Oceania                             862
Least developed: Latin America and the Caribbean     862
Least developed: Asia                                862
AUKUS                                                862
Name: Location, Length: 506, dtype: int64

In [25]:
unique_values = df_pop['Location'].unique()

In [26]:
unique_values

array(['AUKUS', 'African Group', 'African Union',
       'African Union: Central Africa', 'African Union: Eastern Africa',
       'African Union: Northern Africa', 'African Union: Southern Africa',
       'African Union: Western Africa',
       'African, Caribbean and Pacific (ACP) Group of States',
       'Andean Community', 'Asia-Pacific Economic Cooperation (APEC)',
       'Asia-Pacific Group',
       'Association of Southeast Asian Nations (ASEAN)', 'BRIC', 'BRICS',
       'Belt-Road Initiative (BRI)', 'Belt-Road Initiative: Africa',
       'Belt-Road Initiative: Asia', 'Belt-Road Initiative: Europe',
       'Belt-Road Initiative: Latin America and the Caribbean',
       'Belt-Road Initiative: Pacific',
       'Black Sea Economic Cooperation (BSEC)',
       'Bolivarian Alliance for the Americas (ALBA)', 'CANZUK',
       'Caribbean Community and Common Market (CARICOM)',
       'Central European Free Trade Agreement (CEFTA)',
       'China (and dependencies)',
       'Commonwealth of Independent States (CIS)',
       'Commonwealth of Nations', 'Commonwealth: Africa',
       'Commonwealth: Asia', 'Commonwealth: Caribbean and Americas',
       'Commonwealth: Europe', 'Commonwealth: Pacific',
       'Countries with Access to the Sea',
       'Countries with Access to the Sea: Africa',
       'Countries with Access to the Sea: Asia',
       'Countries with Access to the Sea: Europe',
       'Countries with Access to the Sea: Latin America and the Caribbean',
       'Countries with Access to the Sea: Northern America',
       'Countries with Access to the Sea: Oceania',
       'Denmark (and dependencies)', 'ECA: AMU',
       'ECA: African Union Commission', 'ECA: CEN-SAD', 'ECA: COMESA',
       'ECA: Central Africa', 'ECA: EAC', 'ECA: ECCAS', 'ECA: ECOWAS',
       'ECA: Eastern Africa', 'ECA: IGAD', 'ECA: Island economies',
       'ECA: Land-locked LDCs', 'ECA: Land-locked countries',
       'ECA: Least developed countries', 'ECA: Mineral-rich countries',
       'ECA: Non-Oil LDCs', 'ECA: Non-Oil Producing', 'ECA: North Africa',
       'ECA: Oil LDCs', 'ECA: Oil producing economies', 'ECA: SADC',
       'ECA: Sahel', 'ECA: Small Island states', 'ECA: Southern Africa',
       'ECA: Sub-Saharan Africa',
       'ECA: United Nations Economic Commission for Africa - All countries',
       'ECA: West Africa', 'ECE: CIS (CWG)',
       'ECE: Eastern Europe, Caucasus and Central Asia (CIS)',
       'ECE: Euro area (EMU)', 'ECE: European Union (E25)',
       'ECE: United Nations Economic Commission for Europe - All countries',
       'ECE: West Balkans (ST7)', 'ECLAC: Caribbean',
       'ECLAC: Latin America',
       'ECLAC: United Nations Economic Commission for Latin America and the Caribbean - All countries',
       'ESCAP: ADB Developing member countries (ADB_DMC)',
       'ESCAP: ADB Group A (ADB_DMC_A)', 'ESCAP: ADB Group B (ADB_DMC_B)',
       'ESCAP: ADB Group C (ADB_DMC_C)', 'ESCAP: ASEAN (ASEAN)',
       'ESCAP: Africa (AFR)', 'ESCAP: Countries with Special Needs',
       'ESCAP: ECO (ECO)', 'ESCAP: ENEA including Russian Fed (ENEA_RUS)',
       'ESCAP: East and North-East Asia (ENEA)', 'ESCAP: Europe (Europe)',
       'ESCAP: LDC (LDC_E)', 'ESCAP: LLDC (LLDC_E)',
       'ESCAP: Latin America (LAC)', 'ESCAP: North America (NAM)',
       'ESCAP: North and Central Asia (NCA)',
       'ESCAP: Other Area (OTH_REGION)', 'ESCAP: PACIFIC (PAC)',
       'ESCAP: Pacific island developing economies (PIDE)',
       'ESCAP: SAARC (SAARC)', 'ESCAP: Small Islands Developing States',
       'ESCAP: South and South-West Asia (SSWA)',
       'ESCAP: South-East Asia (SEA)',
       'ESCAP: United Nations Economic and Social Commission for Asia and the Pacific - All countries',
       'ESCAP: WB High Income Economies',
       'ESCAP: WB Low Income Economies',
       'ESCAP: WB Lower Middle Income Economies',
       'ESCAP: WB Upper Middle Income Economies',
       'ESCWA: Arab LDCs subregion', 'ESCWA: Arab countries',
       'ESCWA: Gulf Cooperation Council (GCC)',
       'ESCWA: Maghreb subregion', 'ESCWA: Mashreq subregion',
       'East African Community (EAC)', 'Eastern European Group',
       'Economic Community of Central African States (ECCAS)',
       'Economic Community of West African States (ECOWAS)',
       'Economic Cooperation Organization (ECO)',
       'Eurasian Economic Community (Eurasec)', 'Europe (48)',
       'European Community (EC: 12)',
       'European Free Trade Agreement (EFTA)', 'European Union (EU: 15)',
       'European Union (EU: 27)', 'European Union (EU: 28)',
       'Five Eyes\xa0(FVEY)', 'France (and dependencies)',
       'Greater Arab Free Trade Area (GAFTA)', 'Group of 77 (G77)',
       'Group of Eight (G8)', 'Group of Seven (G7)',
       'Group of Twenty (G20) - member states',
       'Gulf Cooperation Council (GCC)',
       'Indo-Pacific Economic Framework (IPEF)', 'LLDC: Africa',
       'LLDC: Asia', 'LLDC: Europe', 'LLDC: Latin America',
       'Lancang-Mekong Cooperation (LMC)', 'Land-locked Countries',
       'Land-locked Countries (Others)',
       'Latin American Integration Association (ALADI)',
       'Latin American and Caribbean Group (GRULAC)',
       'League of Arab States (LAS, informal name: Arab League)',
       'Least developed: Africa', 'Least developed: Asia',
       'Least developed: Latin America and the Caribbean',
       'Least developed: Oceania', 'Less developed: Africa',
       'Less developed: Asia',
       'Less developed: Latin America and the Caribbean',
       'Less developed: Oceania', 'Low-and-middle-income countries',
       'More developed: Asia', 'More developed: Europe',
       'More developed: Northern America', 'More developed: Oceania',
       'Netherlands (and dependencies)',
       'New EU member states (joined since 2004)',
       'New Zealand (and dependencies)', 'Non-Self-Governing Territories',
       'North Atlantic Treaty Organization (NATO)',
       'Organisation for Economic Co-operation and Development (OECD)',
       'Organization for Security and Co-operation in Europe (OSCE)',
       'Organization of American States (OAS)',
       'Organization of Islamic Cooperation (OIC)',
       'Organization of Petroleum Exporting countries (OPEC)',
       'Quadrilateral Security Dialogue (QSD) (colloquially the Quad)',
       'SIDS Atlantic, Indian Ocean and South China Sea (AIS)',
       'SIDS Caribbean', 'SIDS Pacific',
       'Shanghai Cooperation Organization (SCO)',
       'South Asian Association for Regional Cooperation (SAARC)',
       'Southern African Development Community (SADC)',
       'Southern Common Market (MERCOSUR)', 'UNFPA Regions',
       'UNFPA: Arab States (AS)', 'UNFPA: Asia and the Pacific (AP)',
       'UNFPA: East and Southern Africa (ESA)',
       'UNFPA: Eastern Europe and Central Asia (EECA)',
       'UNFPA: Latin America and the Caribbean (LAC)',
       'UNFPA: West and Central Africa (WCA)', 'UNICEF PROGRAMME REGIONS',
       'UNICEF Programme Regions: East Asia and Pacific (EAPRO)',
       'UNICEF Programme Regions: Eastern Caribbean',
       'UNICEF Programme Regions: Eastern and Southern Africa (ESARO)',
       'UNICEF Programme Regions: Europe and Central Asia (CEECIS)',
       'UNICEF Programme Regions: Latin America',
       'UNICEF Programme Regions: Latin America and Caribbean (LACRO)',
       'UNICEF Programme Regions: Middle East and North Africa (MENARO)',
       'UNICEF Programme Regions: South Asia (ROSA)',
       'UNICEF Programme Regions: West and Central Africa (WCARO)',
       'UNICEF REGIONS', 'UNICEF Regions: East Asia and Pacific',
       'UNICEF Regions: Eastern Europe and Central Asia',
       'UNICEF Regions: Eastern and Southern Africa',
       'UNICEF Regions: Europe and Central Asia',
       'UNICEF Regions: Latin America and Caribbean',
       'UNICEF Regions: Middle East and North Africa',
       'UNICEF Regions: North America', 'UNICEF Regions: South Asia',
       'UNICEF Regions: Sub-Saharan Africa',
       'UNICEF Regions: West and Central Africa',
       'UNICEF Regions: Western Europe',
       'United Kingdom (and dependencies)',
       'United Nations Member States',
       'United States of America (and dependencies)',
       'United States-Mexico-Canada Agreement (USMCA)',
       'WB region: East Asia and Pacific (excluding high income)',
       'WB region: Europe and Central Asia (excluding high income)',
       'WB region: Latin America and Caribbean (excluding high income)',
       'WB region: Middle East and North Africa (excluding high income)',
       'WB region: South Asia (excluding high income)',
       'WB region: Sub-Saharan Africa (excluding high income)',
       'WHO Regions', 'WHO: African region (AFRO)',
       'WHO: Americas (AMRO)', 'WHO: Eastern Mediterranean Region (EMRO)',
       'WHO: European Region (EURO)',
       'WHO: South-East Asia region (SEARO)',
       'WHO: Western Pacific region (WPRO)',
       'West African Economic and Monetary Union (UEMOA)',
       'Western European and Others Group (WEOG)',
       'World Bank Regional Groups (developing only)', 'World',
       'Sub-Saharan Africa', 'Northern Africa and Western Asia',
       'Central and Southern Asia', 'Eastern and South-Eastern Asia',
       'Latin America and the Caribbean',
       'Oceania (excluding Australia and New Zealand)',
       'Australia/New Zealand', 'Europe and Northern America',
       'More developed regions', 'Less developed regions',
       'Least developed countries',
       'Less developed regions, excluding least developed countries',
       'Less developed regions, excluding China',
       'Land-locked Developing Countries (LLDC)',
       'Small Island Developing States (SIDS)', 'High-income countries',
       'Middle-income countries', 'Upper-middle-income countries',
       'Lower-middle-income countries', 'Low-income countries',
       'No income group available', 'Africa', 'Eastern Africa', 'Burundi',
       'Comoros', 'Djibouti', 'Eritrea', 'Ethiopia', 'Kenya',
       'Madagascar', 'Malawi', 'Mauritius', 'Mayotte', 'Mozambique',
       'Réunion', 'Rwanda', 'Seychelles', 'Somalia', 'South Sudan',
       'Uganda', 'United Republic of Tanzania', 'Zambia', 'Zimbabwe',
       'Middle Africa', 'Angola', 'Cameroon', 'Central African Republic',
       'Chad', 'Congo', 'Democratic Republic of the Congo',
       'Equatorial Guinea', 'Gabon', 'Sao Tome and Principe',
       'Northern Africa', 'Algeria', 'Egypt', 'Libya', 'Morocco', 'Sudan',
       'Tunisia', 'Western Sahara', 'Southern Africa', 'Botswana',
       'Eswatini', 'Lesotho', 'Namibia', 'South Africa', 'Western Africa',
       'Benin', 'Burkina Faso', 'Cabo Verde', "Côte d'Ivoire", 'Gambia',
       'Ghana', 'Guinea', 'Guinea-Bissau', 'Liberia', 'Mali',
       'Mauritania', 'Niger', 'Nigeria', 'Saint Helena', 'Senegal',
       'Sierra Leone', 'Togo', 'Asia', 'Central Asia', 'Kazakhstan',
       'Kyrgyzstan', 'Tajikistan', 'Turkmenistan', 'Uzbekistan',
       'Eastern Asia', 'China', 'China, Hong Kong SAR',
       'China, Macao SAR', 'China, Taiwan Province of China',
       "Dem. People's Republic of Korea", 'Japan', 'Mongolia',
       'Republic of Korea', 'Southern Asia', 'Afghanistan', 'Bangladesh',
       'Bhutan', 'India', 'Iran (Islamic Republic of)', 'Maldives',
       'Nepal', 'Pakistan', 'Sri Lanka', 'South-Eastern Asia',
       'Brunei Darussalam', 'Cambodia', 'Indonesia',
       "Lao People's Democratic Republic", 'Malaysia', 'Myanmar',
       'Philippines', 'Singapore', 'Thailand', 'Timor-Leste', 'Viet Nam',
       'Western Asia', 'Armenia', 'Azerbaijan', 'Bahrain', 'Cyprus',
       'Georgia', 'Iraq', 'Israel', 'Jordan', 'Kuwait', 'Lebanon', 'Oman',
       'Qatar', 'Saudi Arabia', 'State of Palestine',
       'Syrian Arab Republic', 'Türkiye', 'United Arab Emirates', 'Yemen',
       'Europe', 'Eastern Europe', 'Belarus', 'Bulgaria', 'Czechia',
       'Hungary', 'Poland', 'Republic of Moldova', 'Romania',
       'Russian Federation', 'Slovakia', 'Ukraine', 'Northern Europe',
       'Denmark', 'Estonia', 'Faroe Islands', 'Finland', 'Guernsey',
       'Iceland', 'Ireland', 'Isle of Man', 'Jersey', 'Latvia',
       'Lithuania', 'Norway', 'Sweden', 'United Kingdom',
       'Southern Europe', 'Albania', 'Andorra', 'Bosnia and Herzegovina',
       'Croatia', 'Gibraltar', 'Greece', 'Holy See', 'Italy',
       'Kosovo (under UNSC res. 1244)', 'Malta', 'Montenegro',
       'North Macedonia', 'Portugal', 'San Marino', 'Serbia', 'Slovenia',
       'Spain', 'Western Europe', 'Austria', 'Belgium', 'France',
       'Germany', 'Liechtenstein', 'Luxembourg', 'Monaco', 'Netherlands',
       'Switzerland', 'Caribbean', 'Anguilla', 'Antigua and Barbuda',
       'Aruba', 'Bahamas', 'Barbados', 'Bonaire, Sint Eustatius and Saba',
       'British Virgin Islands', 'Cayman Islands', 'Cuba', 'Curaçao',
       'Dominica', 'Dominican Republic', 'Grenada', 'Guadeloupe', 'Haiti',
       'Jamaica', 'Martinique', 'Montserrat', 'Puerto Rico',
       'Saint Barthélemy', 'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Martin (French part)', 'Saint Vincent and the Grenadines',
       'Sint Maarten (Dutch part)', 'Trinidad and Tobago',
       'Turks and Caicos Islands', 'United States Virgin Islands',
       'Central America', 'Belize', 'Costa Rica', 'El Salvador',
       'Guatemala', 'Honduras', 'Mexico', 'Nicaragua', 'Panama',
       'South America', 'Argentina', 'Bolivia (Plurinational State of)',
       'Brazil', 'Chile', 'Colombia', 'Ecuador',
       'Falkland Islands (Malvinas)', 'French Guiana', 'Guyana',
       'Paraguay', 'Peru', 'Suriname', 'Uruguay',
       'Venezuela (Bolivarian Republic of)', 'Northern America',
       'Bermuda', 'Canada', 'Greenland', 'Saint Pierre and Miquelon',
       'United States of America', 'Oceania', 'Australia', 'New Zealand',
       'Melanesia', 'Fiji', 'New Caledonia', 'Papua New Guinea',
       'Solomon Islands', 'Vanuatu', 'Micronesia', 'Guam', 'Kiribati',
       'Marshall Islands', 'Micronesia (Fed. States of)', 'Nauru',
       'Northern Mariana Islands', 'Palau', 'Polynesia', 'American Samoa',
       'Cook Islands', 'French Polynesia', 'Niue', 'Samoa', 'Tokelau',
       'Tonga', 'Tuvalu', 'Wallis and Futuna Islands'], dtype=object)

In [27]:
#Removing values from the dataframe that are not needed (from the column 'Location'). I only need names of the countries.

values_to_remove = ['AUKUS', 'African Group', 'African Union', 'African Union: Central Africa', 'African Union: Eastern Africa',
       'African Union: Northern Africa', 'African Union: Southern Africa',
       'African Union: Western Africa',
       'African, Caribbean and Pacific (ACP) Group of States',
       'Andean Community', 'Asia-Pacific Economic Cooperation (APEC)',
       'Asia-Pacific Group',
       'Association of Southeast Asian Nations (ASEAN)', 'BRIC', 'BRICS',
       'Belt-Road Initiative (BRI)', 'Belt-Road Initiative: Africa',
       'Belt-Road Initiative: Asia', 'Belt-Road Initiative: Europe',
       'Belt-Road Initiative: Latin America and the Caribbean',
       'Belt-Road Initiative: Pacific',
       'Black Sea Economic Cooperation (BSEC)',
       'Bolivarian Alliance for the Americas (ALBA)', 'CANZUK',
       'Caribbean Community and Common Market (CARICOM)',
       'Central European Free Trade Agreement (CEFTA)',
       'China (and dependencies)',
       'Commonwealth of Independent States (CIS)',
       'Commonwealth of Nations', 'Commonwealth: Africa',
       'Commonwealth: Asia', 'Commonwealth: Caribbean and Americas',
       'Commonwealth: Europe', 'Commonwealth: Pacific',
       'Countries with Access to the Sea',
       'Countries with Access to the Sea: Africa',
       'Countries with Access to the Sea: Asia',
       'Countries with Access to the Sea: Europe',
       'Countries with Access to the Sea: Latin America and the Caribbean',
       'Countries with Access to the Sea: Northern America',
       'Countries with Access to the Sea: Oceania',
       'Denmark (and dependencies)', 'ECA: AMU',
       'ECA: African Union Commission', 'ECA: CEN-SAD', 'ECA: COMESA',
       'ECA: Central Africa', 'ECA: EAC', 'ECA: ECCAS', 'ECA: ECOWAS',
       'ECA: Eastern Africa', 'ECA: IGAD', 'ECA: Island economies',
       'ECA: Land-locked LDCs', 'ECA: Land-locked countries',
       'ECA: Least developed countries', 'ECA: Mineral-rich countries',
       'ECA: Non-Oil LDCs', 'ECA: Non-Oil Producing', 'ECA: North Africa',
       'ECA: Oil LDCs', 'ECA: Oil producing economies', 'ECA: SADC',
       'ECA: Sahel', 'ECA: Small Island states', 'ECA: Southern Africa',
       'ECA: Sub-Saharan Africa',
       'ECA: United Nations Economic Commission for Africa - All countries',
       'ECA: West Africa', 'ECE: CIS (CWG)',
       'ECE: Eastern Europe, Caucasus and Central Asia (CIS)',
       'ECE: Euro area (EMU)', 'ECE: European Union (E25)',
       'ECE: United Nations Economic Commission for Europe - All countries',
       'ECE: West Balkans (ST7)', 'ECLAC: Caribbean',
       'ECLAC: Latin America',
       'ECLAC: United Nations Economic Commission for Latin America and the Caribbean - All countries',
       'ESCAP: ADB Developing member countries (ADB_DMC)',
       'ESCAP: ADB Group A (ADB_DMC_A)', 'ESCAP: ADB Group B (ADB_DMC_B)',
       'ESCAP: ADB Group C (ADB_DMC_C)', 'ESCAP: ASEAN (ASEAN)',
       'ESCAP: Africa (AFR)', 'ESCAP: Countries with Special Needs',
       'ESCAP: ECO (ECO)', 'ESCAP: ENEA including Russian Fed (ENEA_RUS)',
       'ESCAP: East and North-East Asia (ENEA)', 'ESCAP: Europe (Europe)',
       'ESCAP: LDC (LDC_E)', 'ESCAP: LLDC (LLDC_E)',
       'ESCAP: Latin America (LAC)', 'ESCAP: North America (NAM)',
       'ESCAP: North and Central Asia (NCA)',
       'ESCAP: Other Area (OTH_REGION)', 'ESCAP: PACIFIC (PAC)',
       'ESCAP: Pacific island developing economies (PIDE)',
       'ESCAP: SAARC (SAARC)', 'ESCAP: Small Islands Developing States',
       'ESCAP: South and South-West Asia (SSWA)',
       'ESCAP: South-East Asia (SEA)',
       'ESCAP: United Nations Economic and Social Commission for Asia and the Pacific - All countries',
       'ESCAP: WB High Income Economies',
       'ESCAP: WB Low Income Economies',
       'ESCAP: WB Lower Middle Income Economies',
       'ESCAP: WB Upper Middle Income Economies',
       'ESCWA: Arab LDCs subregion', 'ESCWA: Arab countries',
       'ESCWA: Gulf Cooperation Council (GCC)',
       'ESCWA: Maghreb subregion', 'ESCWA: Mashreq subregion',
       'East African Community (EAC)', 'Eastern European Group',
       'Economic Community of Central African States (ECCAS)',
       'Economic Community of West African States (ECOWAS)',
       'Economic Cooperation Organization (ECO)',
       'Eurasian Economic Community (Eurasec)', 'Europe (48)',
       'European Community (EC: 12)',
       'European Free Trade Agreement (EFTA)', 'European Union (EU: 15)',
       'European Union (EU: 27)', 'European Union (EU: 28)',
       'Five Eyes\xa0(FVEY)', 'France (and dependencies)',
       'Greater Arab Free Trade Area (GAFTA)', 'Group of 77 (G77)',
       'Group of Eight (G8)', 'Group of Seven (G7)',
       'Group of Twenty (G20) - member states',
       'Gulf Cooperation Council (GCC)',
       'Indo-Pacific Economic Framework (IPEF)', 'LLDC: Africa',
       'LLDC: Asia', 'LLDC: Europe', 'LLDC: Latin America',
       'Lancang-Mekong Cooperation (LMC)', 'Land-locked Countries',
       'Land-locked Countries (Others)',
       'Latin American Integration Association (ALADI)',
       'Latin American and Caribbean Group (GRULAC)',
       'League of Arab States (LAS, informal name: Arab League)',
       'Least developed: Africa', 'Least developed: Asia',
       'Least developed: Latin America and the Caribbean',
       'Least developed: Oceania', 'Less developed: Africa',
       'Less developed: Asia',
       'Less developed: Latin America and the Caribbean',
       'Less developed: Oceania', 'Low-and-middle-income countries',
       'More developed: Asia', 'More developed: Europe',
       'More developed: Northern America', 'More developed: Oceania',
       'Netherlands (and dependencies)',
       'New EU member states (joined since 2004)',
       'New Zealand (and dependencies)', 'Non-Self-Governing Territories',
       'North Atlantic Treaty Organization (NATO)',
       'Organisation for Economic Co-operation and Development (OECD)',
       'Organization for Security and Co-operation in Europe (OSCE)',
       'Organization of American States (OAS)',
       'Organization of Islamic Cooperation (OIC)',
       'Organization of Petroleum Exporting countries (OPEC)',
       'Quadrilateral Security Dialogue (QSD) (colloquially the Quad)',
       'SIDS Atlantic, Indian Ocean and South China Sea (AIS)',
       'SIDS Caribbean', 'SIDS Pacific',
       'Shanghai Cooperation Organization (SCO)',
       'South Asian Association for Regional Cooperation (SAARC)',
       'Southern African Development Community (SADC)',
       'Southern Common Market (MERCOSUR)', 'UNFPA Regions',
       'UNFPA: Arab States (AS)', 'UNFPA: Asia and the Pacific (AP)',
       'UNFPA: East and Southern Africa (ESA)',
       'UNFPA: Eastern Europe and Central Asia (EECA)',
       'UNFPA: Latin America and the Caribbean (LAC)',
       'UNFPA: West and Central Africa (WCA)', 'UNICEF PROGRAMME REGIONS',
       'UNICEF Programme Regions: East Asia and Pacific (EAPRO)',
       'UNICEF Programme Regions: Eastern Caribbean',
       'UNICEF Programme Regions: Eastern and Southern Africa (ESARO)',
       'UNICEF Programme Regions: Europe and Central Asia (CEECIS)',
       'UNICEF Programme Regions: Latin America',
       'UNICEF Programme Regions: Latin America and Caribbean (LACRO)',
       'UNICEF Programme Regions: Middle East and North Africa (MENARO)',
       'UNICEF Programme Regions: South Asia (ROSA)',
       'UNICEF Programme Regions: West and Central Africa (WCARO)',
       'UNICEF REGIONS', 'UNICEF Regions: East Asia and Pacific',
       'UNICEF Regions: Eastern Europe and Central Asia',
       'UNICEF Regions: Eastern and Southern Africa',
       'UNICEF Regions: Europe and Central Asia',
       'UNICEF Regions: Latin America and Caribbean',
       'UNICEF Regions: Middle East and North Africa',
       'UNICEF Regions: North America', 'UNICEF Regions: South Asia',
       'UNICEF Regions: Sub-Saharan Africa',
       'UNICEF Regions: West and Central Africa',
       'UNICEF Regions: Western Europe',
       'United Kingdom (and dependencies)',
       'United Nations Member States',
       'United States of America (and dependencies)',
       'United States-Mexico-Canada Agreement (USMCA)',
       'WB region: East Asia and Pacific (excluding high income)',
       'WB region: Europe and Central Asia (excluding high income)',
       'WB region: Latin America and Caribbean (excluding high income)',
       'WB region: Middle East and North Africa (excluding high income)',
       'WB region: South Asia (excluding high income)',
       'WB region: Sub-Saharan Africa (excluding high income)',
       'WHO Regions', 'WHO: African region (AFRO)',
       'WHO: Americas (AMRO)', 'WHO: Eastern Mediterranean Region (EMRO)',
       'WHO: European Region (EURO)',
       'WHO: South-East Asia region (SEARO)',
       'WHO: Western Pacific region (WPRO)',
       'West African Economic and Monetary Union (UEMOA)',
       'Western European and Others Group (WEOG)',
       'World Bank Regional Groups (developing only)', 'World',
       'Sub-Saharan Africa', 'Northern Africa and Western Asia',
       'Central and Southern Asia', 'Eastern and South-Eastern Asia',
       'Latin America and the Caribbean',
       'Oceania (excluding Australia and New Zealand)',
       'Australia/New Zealand', 'Europe and Northern America',
       'More developed regions', 'Less developed regions',
       'Least developed countries',
       'Less developed regions, excluding least developed countries',
       'Less developed regions, excluding China',
       'Land-locked Developing Countries (LLDC)',
       'Small Island Developing States (SIDS)', 'High-income countries',
       'Middle-income countries', 'Upper-middle-income countries',
       'Lower-middle-income countries', 'Low-income countries',
       'No income group available', 'Africa', 'Eastern Africa']

In [28]:
#Rewriting the df_pop without the deleted values
df_pop = df_pop[~df_pop['Location'].isin(values_to_remove)]

In [29]:
unique_values_1 = df_pop['Location'].unique()

In [30]:
unique_values_1

array(['Burundi', 'Comoros', 'Djibouti', 'Eritrea', 'Ethiopia', 'Kenya',
       'Madagascar', 'Malawi', 'Mauritius', 'Mayotte', 'Mozambique',
       'Réunion', 'Rwanda', 'Seychelles', 'Somalia', 'South Sudan',
       'Uganda', 'United Republic of Tanzania', 'Zambia', 'Zimbabwe',
       'Middle Africa', 'Angola', 'Cameroon', 'Central African Republic',
       'Chad', 'Congo', 'Democratic Republic of the Congo',
       'Equatorial Guinea', 'Gabon', 'Sao Tome and Principe',
       'Northern Africa', 'Algeria', 'Egypt', 'Libya', 'Morocco', 'Sudan',
       'Tunisia', 'Western Sahara', 'Southern Africa', 'Botswana',
       'Eswatini', 'Lesotho', 'Namibia', 'South Africa', 'Western Africa',
       'Benin', 'Burkina Faso', 'Cabo Verde', "Côte d'Ivoire", 'Gambia',
       'Ghana', 'Guinea', 'Guinea-Bissau', 'Liberia', 'Mali',
       'Mauritania', 'Niger', 'Nigeria', 'Saint Helena', 'Senegal',
       'Sierra Leone', 'Togo', 'Asia', 'Central Asia', 'Kazakhstan',
       'Kyrgyzstan', 'Tajikistan', 'Turkmenistan', 'Uzbekistan',
       'Eastern Asia', 'China', 'China, Hong Kong SAR',
       'China, Macao SAR', 'China, Taiwan Province of China',
       "Dem. People's Republic of Korea", 'Japan', 'Mongolia',
       'Republic of Korea', 'Southern Asia', 'Afghanistan', 'Bangladesh',
       'Bhutan', 'India', 'Iran (Islamic Republic of)', 'Maldives',
       'Nepal', 'Pakistan', 'Sri Lanka', 'South-Eastern Asia',
       'Brunei Darussalam', 'Cambodia', 'Indonesia',
       "Lao People's Democratic Republic", 'Malaysia', 'Myanmar',
       'Philippines', 'Singapore', 'Thailand', 'Timor-Leste', 'Viet Nam',
       'Western Asia', 'Armenia', 'Azerbaijan', 'Bahrain', 'Cyprus',
       'Georgia', 'Iraq', 'Israel', 'Jordan', 'Kuwait', 'Lebanon', 'Oman',
       'Qatar', 'Saudi Arabia', 'State of Palestine',
       'Syrian Arab Republic', 'Türkiye', 'United Arab Emirates', 'Yemen',
       'Europe', 'Eastern Europe', 'Belarus', 'Bulgaria', 'Czechia',
       'Hungary', 'Poland', 'Republic of Moldova', 'Romania',
       'Russian Federation', 'Slovakia', 'Ukraine', 'Northern Europe',
       'Denmark', 'Estonia', 'Faroe Islands', 'Finland', 'Guernsey',
       'Iceland', 'Ireland', 'Isle of Man', 'Jersey', 'Latvia',
       'Lithuania', 'Norway', 'Sweden', 'United Kingdom',
       'Southern Europe', 'Albania', 'Andorra', 'Bosnia and Herzegovina',
       'Croatia', 'Gibraltar', 'Greece', 'Holy See', 'Italy',
       'Kosovo (under UNSC res. 1244)', 'Malta', 'Montenegro',
       'North Macedonia', 'Portugal', 'San Marino', 'Serbia', 'Slovenia',
       'Spain', 'Western Europe', 'Austria', 'Belgium', 'France',
       'Germany', 'Liechtenstein', 'Luxembourg', 'Monaco', 'Netherlands',
       'Switzerland', 'Caribbean', 'Anguilla', 'Antigua and Barbuda',
       'Aruba', 'Bahamas', 'Barbados', 'Bonaire, Sint Eustatius and Saba',
       'British Virgin Islands', 'Cayman Islands', 'Cuba', 'Curaçao',
       'Dominica', 'Dominican Republic', 'Grenada', 'Guadeloupe', 'Haiti',
       'Jamaica', 'Martinique', 'Montserrat', 'Puerto Rico',
       'Saint Barthélemy', 'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Martin (French part)', 'Saint Vincent and the Grenadines',
       'Sint Maarten (Dutch part)', 'Trinidad and Tobago',
       'Turks and Caicos Islands', 'United States Virgin Islands',
       'Central America', 'Belize', 'Costa Rica', 'El Salvador',
       'Guatemala', 'Honduras', 'Mexico', 'Nicaragua', 'Panama',
       'South America', 'Argentina', 'Bolivia (Plurinational State of)',
       'Brazil', 'Chile', 'Colombia', 'Ecuador',
       'Falkland Islands (Malvinas)', 'French Guiana', 'Guyana',
       'Paraguay', 'Peru', 'Suriname', 'Uruguay',
       'Venezuela (Bolivarian Republic of)', 'Northern America',
       'Bermuda', 'Canada', 'Greenland', 'Saint Pierre and Miquelon',
       'United States of America', 'Oceania', 'Australia', 'New Zealand',
       'Melanesia', 'Fiji', 'New Caledonia', 'Papua New Guinea',
       'Solomon Islands', 'Vanuatu', 'Micronesia', 'Guam', 'Kiribati',
       'Marshall Islands', 'Micronesia (Fed. States of)', 'Nauru',
       'Northern Mariana Islands', 'Palau', 'Polynesia', 'American Samoa',
       'Cook Islands', 'French Polynesia', 'Niue', 'Samoa', 'Tokelau',
       'Tonga', 'Tuvalu', 'Wallis and Futuna Islands'], dtype=object)

In [32]:
#Removing unwanted values from 'Time'

unique_values_2 = df_pop['Time'].unique()

In [33]:
unique_values_2

array([1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960,
       1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971,
       1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982,
       1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993,
       1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004,
       2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015,
       2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024, 2025, 2026,
       2027, 2028, 2029, 2030, 2031, 2032, 2033, 2034, 2035, 2036, 2037,
       2038, 2039, 2040, 2041, 2042, 2043, 2044, 2045, 2046, 2047, 2048,
       2049, 2050, 2051, 2052, 2053, 2054, 2055, 2056, 2057, 2058, 2059,
       2060, 2061, 2062, 2063, 2064, 2065, 2066, 2067, 2068, 2069, 2070,
       2071, 2072, 2073, 2074, 2075, 2076, 2077, 2078, 2079, 2080, 2081,
       2082, 2083, 2084, 2085, 2086, 2087, 2088, 2089, 2090, 2091, 2092,
       2093, 2094, 2095, 2096, 2097, 2098, 2099, 2100])

In [34]:
#Removing them

values_to_remove_2 = [1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960,
       1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971,
       1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982,
       1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993,
       1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004,
       2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014,2022, 2023, 2024, 2025, 2026,
       2027, 2028, 2029, 2030, 2031, 2032, 2033, 2034, 2035, 2036, 2037,
       2038, 2039, 2040, 2041, 2042, 2043, 2044, 2045, 2046, 2047, 2048,
       2049, 2050, 2051, 2052, 2053, 2054, 2055, 2056, 2057, 2058, 2059,
       2060, 2061, 2062, 2063, 2064, 2065, 2066, 2067, 2068, 2069, 2070,
       2071, 2072, 2073, 2074, 2075, 2076, 2077, 2078, 2079, 2080, 2081,
       2082, 2083, 2084, 2085, 2086, 2087, 2088, 2089, 2090, 2091, 2092,
       2093, 2094, 2095, 2096, 2097, 2098, 2099, 2100]

In [35]:
#Rewriting the df_pop
df_pop = df_pop[~df_pop['Time'].isin(values_to_remove_2)]

In [36]:
unique_values_3 = df_pop['Time'].unique()

In [37]:
unique_values_3

array([2015, 2016, 2017, 2018, 2019, 2020, 2021])

In [39]:
df_pop['Location'].value_counts()

Burundi                             7
Spain                               7
Austria                             7
Belgium                             7
France                              7
                                   ..
Indonesia                           7
Lao People's Democratic Republic    7
Malaysia                            7
Myanmar                             7
Wallis and Futuna Islands           7
Name: Location, Length: 260, dtype: int64

In [41]:
df_pop['Time'].value_counts()

2015    260
2016    260
2017    260
2018    260
2019    260
2020    260
2021    260
Name: Time, dtype: int64

In [45]:
#Renaming columns 'Time' and 'Location'

df_pop = df_pop.rename(columns={'Location':'Country', 'Time':'Year'})

In [46]:
df_pop.head()

,LocID,LocTypeName,Country,VarID,Year,Total population,Population density
221597,108,Country/Area,Burundi,2,2015,10727,413.378
221598,108,Country/Area,Burundi,2,2016,10903,420.167
221599,108,Country/Area,Burundi,2,2017,11155,429.888
221600,108,Country/Area,Burundi,2,2018,11493,442.908
221601,108,Country/Area,Burundi,2,2019,11874,457.605

In [47]:
#Dropping further unwanted columns
df_pop = df_pop.drop(columns=['LocTypeName', 'VarID'])

In [48]:
df_dups_4 = df_pop[df_pop.duplicated()]

In [49]:
df_dups_4

Empty DataFrame
Columns: [LocID, Country, Year, Total population, Population density]
Index: []

In [51]:
df_pop.head(10)

        LocID  Country  Year  Total population  Population density
221597    108  Burundi  2015             10727             413.378
221598    108  Burundi  2016             10903             420.167
221599    108  Burundi  2017             11155             429.888
221600    108  Burundi  2018             11493             442.908
221601    108  Burundi  2019             11874             457.605
221602    108  Burundi  2020             12220             470.914
221603    108  Burundi  2021             12551             483.669
222854    174  Comoros  2015               730             392.378
222855    174  Comoros  2016               746             400.984
222856    174  Comoros  2017               761             409.277

# Exporting the dataframe

In [52]:
df_pop.to_csv(os.path.join(path, 'Prepared Data', 'Population_wrangeled.csv'))